/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
	@apply bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent;
}
.required::after {
	content: '*';
	margin-left: 4px;
	color: red;
}

.active-nav {
	@apply bg-gray-900 text-white;
}

.inactive-nav {
	@apply text-gray-300 hover:bg-gray-700 hover:text-white;
}
